.container {
    width: 60%;
    margin: 2rem auto;
}

p {
    position: relative;
    top: -57%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.img1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;

}

.img2 {
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;

}

.img3 {
    grid-column-start: 16;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 4;


}

.img4 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 4;
    grid-row-end: 7;


}

.img5 {
    grid-column-start: 16;
    grid-column-end: 21;
    grid-row-start: 4;
    grid-row-end: 7;


}

.img6 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;

}

.img7 {

    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 7;
    grid-row-end: 10;

}

.img8 {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 10;

}